@font-face {
  font-family: "Epilogue";
  src: url("/web/fonts/Epilogue.ttf");
}
@font-face {
  font-family: "Lobster";
  src: url("/web/fonts/Lobster.ttf");
}

body{
  margin: 0;
  background-color: #E9AFA3;
}

header{
  background-color: #3A405A;
  height: 7vh;
  
}
header h1{
  color: antiquewhite;
  font-family: "Lobster";
  font-size: 5vh;
  text-align: center;
  padding: 5px;
}

/* STARTTT DIVVVV------------------- */
#startDiv{
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-around;
}
#start{
    padding: 10px;
    font-size: 18px;
    font-family: 'Epilogue';
    background-color: rgba(250, 235, 215, 0.915);
    border: none;
    border-radius: 5px;
    height: 50px;
    
}

/* navbar----------------------------------- */

.navbar {
    background-color: #99B2DD;
    height: 3vh;  
    display: flex;
    justify-content: stretch;
    align-items: center;
    padding: 0 20px;
    font-family: 'Epilogue';
    margin-bottom: 15px;

    
  }

  .navbar #navTitle {
    text-align: center;
    /* text-indent: -50px; */
    font-size: 2vh;
    width: 100%;
    
    
  }

  .navbar #navBack {
    font-family: 'Epilogue';
    background-color: rgba(250, 235, 215, 0.915);
    color: #685044;
    font-size: 2vh;
    /* width: 50px; */
    border: none;
    padding: 8px ;
    padding-left: 40px;
    border-radius: 5px;
    transition: .3s ease-in-out;

    position: fixed;
    top: 15px;
    left: 10px;
  }
  .navbar #navBack:hover {
    background-color: rgba(250, 235, 215, 1);
    /* background-color: #3A405A */

  }
  
  .navbar #navBack::before {
    content: "";
    position: absolute;
    left: 10px; /* Adjust the position as needed */
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='51' height='51' viewBox='0 0 51 51' fill='none'%3E%3Cpath id='Vector' d='M35.89 0.91748H14.94C5.84004 0.91748 0.415039 6.34248 0.415039 15.4425V36.3675C0.415039 45.4925 5.84004 50.9175 14.94 50.9175H35.865C44.965 50.9175 50.39 45.4925 50.39 36.3925V15.4425C50.415 6.34248 44.99 0.91748 35.89 0.91748ZM30.215 36.2425H17.915C16.89 36.2425 16.04 35.3925 16.04 34.3675C16.04 33.3425 16.89 32.4925 17.915 32.4925H30.215C33.415 32.4925 36.04 29.8925 36.04 26.6675C36.04 23.4425 33.44 20.8425 30.215 20.8425H17.54L18.19 21.4925C18.915 22.2425 18.915 23.4175 18.165 24.1675C17.79 24.5425 17.315 24.7175 16.84 24.7175C16.365 24.7175 15.89 24.5425 15.515 24.1675L11.59 20.2175C10.865 19.4925 10.865 18.2925 11.59 17.5675L15.515 13.6425C16.24 12.9175 17.44 12.9175 18.165 13.6425C18.89 14.3675 18.89 15.5675 18.165 16.2925L17.34 17.1175H30.215C35.49 17.1175 39.79 21.4175 39.79 26.6925C39.79 31.9675 35.49 36.2425 30.215 36.2425Z' fill='rgba(104, 80, 68, 1)'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: contain;
  }

  
  /* MAP--------------------------------------  */
  .ttt{
    font-family: 'Epilogue';
    font-size: 0.9em;
  }
  #svgCanvas{
    display: flex;
    justify-content: space-around;
    align-content: center;
    height: 70vh;
  }
  #map{
    height: 100%;
    width: auto;
  }
  
 
  /* FORM FM1--------------------------------- */
  #frmC{
    display: flex;
    align-items: baseline;
    justify-content: center;
    height: 10vh;
  }
  #form{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;

  }

  .fm1{
    height: 30px;
    font-size: 16px;
    font-family: 'Epilogue';
    border-radius: 5px;
    padding: 5px;
    margin-top:auto ;
    margin-left: auto;
    background-color: #ffffff79;
    border: none;
  }
  #submit-btn{
    height: 30px;
    font-size: 16px;
    font-family: 'Epilogue';
    border-radius: 5px;
    border: none;
    padding: 5px;
    /* margin-top: 2px; */
    margin-left: 25px;
    background-color: #685044;
    color: #fff;
    transition: .3s ease-in-out;
  }
  #submit-btn:hover{
    background-color: #7e6254cc;
  }

  

  /* AUDIO SELECTION SCREEN------------------------------------- */
  #peopleN{
    font-family: 'Epilogue';
    padding: 0px 15px;
    text-align: end;
  }
  #CAS{
    font-family: 'Epilogue';
    padding:  0px 15px;
   font-size: 1.2em;

  }
.radio-group {
  margin: 15px;
  height: 20vh;
  background-color: #ffffff79;
  overflow-y: scroll;
  padding: 20px 5px;
  border-radius: 10px; 
  flex-direction: column;
  font-family: 'Epilogue';
  
}
.radio-group label{
  font-size: 16px; 
  width: inline;
  display: inline;
  
}
.radio-group input[type='radio']{
  width: 15px;
  display: inline;
  
  
}
.ldiv{
 
  margin-left:10px ;
  display: inline-block;
 
}
.mdiv{
  display: flex;
  align-content: center;
}
#submit-btn2{
    height: 30px;  
    font-size: 16px;
    font-family: 'Epilogue';
    border-radius: 5px;
    border: none;
    padding: 10px 25px;
    margin-top: 2px;
    margin-left: 15px;
    background-color: #685044;
    color: #fff;
}
#submit-btn2:hover{
  transition: .3s ease-in-out;
  background-color: #7e6254cc;
}

/* AUDIO RESULT------------------------------------ */
#AudRes{
  display: flex;
  /* flex-direction: column; */
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}
.audCard{
  font-family: 'Epilogue';
  font-size: 18px;
  flex: 0 0 40%;
  background-color:#ffffff79 ;
  align-content: center;
  /* width: fit-content; */
  padding: 25px;
  border-radius: 10px;
  margin: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.audCard h4 span{
  opacity: 0.9;

  font-size: 0.8em;
  color: #909445;
}


/* media queryyyyyy */
@media only screen and (max-width: 600px) {

  .navbar #navBack {
    padding: 6px ;
    padding-left: 30px;
  }

  .navbar #navBack::before {
    width: 15px;
    height: 15px;
  }
  
  #frmC{
    height: auto;
    justify-content: start;
    flex-direction: column;
    align-items: center;
  }
  #form {
    /* flex-direction: column; */
    padding: 20px;
    justify-content: space-evenly;
    gap: 10px;
     flex-wrap: wrap;

  }

  .fm1{
    flex: 0 0 40%;
  }

  #submit-btn {
    margin: 10px 25px;
  }
  #mapCanvas{
    height: 25vh;
  }
  #MAP{
    margin-top: 0;
  }
}

  
